<dl>
    <dt>{{ __translations }}</dt>
    {%- for item in site_langs -%}
        <dd>
            {%- if item == site_lang -%}
                {%- assign url = "" -%}
            {%- else -%}
                {%- assign url = item | append: "/" -%}
            {%- endif -%}
            <a href="{{ site.baseurl }}/{{ url }}"><i class="fa fa-language"></i> {{ item }}</a>
        </dd>
    {%- endfor -%}
</dl>
