.input-group {
  display: table;

  .form-control {
    position: relative;
    width: 100%;

    &:focus {
      z-index: 2;
    }

    + .btn {
      @include margin_start(0);
    }
  }

  // For when you want the input group to behave like inline-block.
  &.inline {
    display: inline-table;
  }
}

.input-group .form-control,
.input-group-button {
  display: table-cell;
}

.input-group-button {
  width: 1%;
  vertical-align: middle; // Match the inputs
}

.input-group .form-control:first-child,
.input-group-button:first-child .btn {
  @include rtl_set_property(border-top-right-radius, border-top-left-radius, 0);
  @include rtl_set_property(border-bottom-right-radius, border-bottom-left-radius, 0);
}

.input-group-button:first-child .btn {
  // stylelint-disable-next-line primer/spacing
  @include margin_end(-1px);
}

.input-group .form-control:last-child,
.input-group-button:last-child .btn {
  @include rtl_set_property(border-top-left-radius, border-top-right-radius, 0);
  @include rtl_set_property(border-bottom-left-radius, border-bottom-right-radius, 0);
}

.input-group-button:last-child .btn {
  // stylelint-disable-next-line primer/spacing
  @include margin_start(-1px);
}
