// Tab like radio group

.radio-group {
  @include clearfix;
}

.radio-label {
  @include rtl(float, left, right);
  // stylelint-disable-next-line primer/spacing
  padding-top: 6px;
  padding-bottom: 6px;
  @include padding_start($spacer-3);
  @include padding_end($spacer-3 + 12px + $spacer-2); // 12px is the size of the radio-input
  // stylelint-disable-next-line primer/spacing
  @include margin_start(-1px);
  font-size: $body-font-size;
  // stylelint-disable-next-line primer/typography
  line-height: 20px; // Specifically not inherit our `<body>` default
  color: $text-gray-dark;
  cursor: pointer;
  border: $border-width $border-style $border-color;

  :checked + & {
    position: relative;
    z-index: 1;
    border-color: $border-blue;
  }

  &:first-of-type {
    @include margin_start(0);
    @include rtl_set_property(border-top-left-radius, border-top-right-radius, $border-radius);
    @include rtl_set_property(border-bottom-left-radius, border-bottom-right-radius, $border-radius);
  }

  &:last-of-type {
    @include rtl_set_property(border-top-right-radius, border-top-left-radius, $border-radius);
    @include rtl_set_property(border-bottom-right-radius, border-bottom-left-radius, $border-radius);
  }
}

.radio-input {
  @include rtl(float, left, right);
  z-index: 3;
  // stylelint-disable-next-line primer/spacing
  margin-top: 10px;
  margin-bottom: 0;
  @include margin_start($spacer-3);
  @include margin_end(-$spacer-5);
}
