<div class="addons d-flex flex-column overflow-y-auto" role="note" aria-label="addons">
    <span class="status d-flex flex-justify-between p-2">
        <div class="title p-1">
            <i class="fa fa-book"></i> {{ site.title }}
        </div>
        <div class="branch p-1">
            <span class="name">
                {% if site.addons_branch and site.github_metadata != false %}{{ branch }}{% endif %}
            </span>
            <i class="fa fa-caret-down"></i>
        </div>
    </span>
    <div class="details d-flex flex-column height-full p-2 d-none">
        {%- assign items = site.addons | default: addons -%}
        {% for item in items -%}
            {%- if addons contains item -%}
                {% include addons/{{ item }}.liquid %}
            {%- else -%}
                {%- if item.github -%}
                    {% include addons/github.liquid items=item.github %}
                {%- endif -%}
            {%- endif -%}
        {% endfor -%}
        <hr>
        <small>
            <span>
                Built with
                <a href="https://jekyllrb.com/">Jekyll</a>
                using the
                <a href="https://github.com/rundocs/jekyll-rtd-theme">jekyll-rtd-theme</a> (MIT)
            </span>
        </small>
    </div>
</div>
