<div class="album">
    {%- for item in include.data -%}
        <a class="item" href="{{ item.link | default: '#' }}">
            <img src="{{ item.image }}" alt="{{ item.title }}">{{ item.title }}
        </a>
    {%- endfor -%}
</div>
