<div class="admonition danger mb-3">
    <div class="title px-2 py-1">
        <i class="fa fa-exclamation-circle"></i>
        {{ __.danger | default: "Danger" }}
    </div>
    <div class="content p-2">
        {{ codes | markdownify | strip_newlines -}}
    </div>
</div>
