<div class="admonition note mb-3">
    <div class="title px-2 py-1">
        <i class="fa fa-exclamation-circle"></i>
        {{ __.note | default: "Note" }}
    </div>
    <div class="content p-2">
        {{ codes | markdownify | strip_newlines -}}
    </div>
</div>
