<div class="admonition tip mb-3">
    <div class="title px-2 py-1">
        <i class="fa fa-exclamation-circle"></i>
        {{ __.tip | default: "Tip" }}
    </div>
    <div class="content p-2">
        {{ codes | markdownify | strip_newlines -}}
    </div>
</div>
