<div class="admonition tip">
    <p class="admonition-title" ui="tip">
        <i class="fas fa-exclamation-circle"></i>
        <span class="progress"></span>
    </p>
    {{ codes | markdownify | strip_newlines -}}
</div>
