.album {
    @extend .flex;

    .item {
        @extend .flex;
        flex: auto;
        margin: 10px;
        justify-content: center;

        &:hover {
            opacity: 0.9;
        }

        img {
            @extend .shadow-box;
            width: 100%;
        }
    }
}