$white: hsl(0, 0%, 99%);
$gutter: 1.5em;

:root {
  @for $level from 1 through 12 {
    @if $level % 4 == 0 {
      --toc-#{$level}: #{darken($white, 4 * 8.8%)};
    } @else {
      --toc-#{$level}: #{darken($white, $level % 4 * 8.8%)};
    }
  }
}

body {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}

.container {
  background: $white;
}

.header {
  color: $white;
  background: #2980b9;
  padding: 0.809em;

  .title {
    padding: 4px 6px;
    margin-bottom: 0.809em;
    font-weight: 700;
  }

  a {
    padding: 4px 6px;

    &:hover {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }

  input {
    border-radius: 50px;
    border: 1px solid #2472a4;
    font-size: 80%;
  }
}

.details {
  dl {
    margin: 0;
  }

  dd {
    display: inline-block;

    a {
      display: inline-block;
      padding: 6px;
      color: $white;
    }
  }
}

.markdown-body {
  font-weight: 400;
  color: #404040;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;

  h1,
  h1,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto-Slab";
    font-style: normal;
    font-weight: 600;
  }

  table {
    font-size: 90%;
  }
}

.sidebar {
  background: #343131;
}

.toc {
  color: #d9d9d9;
}

.caption {
  color: #55a5d9;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 32px;
  white-space: nowrap;
}

.addons {
  background: #272525;
}

.header-sm {
  color: $white;
  background: #2980b9;
}

.content-wrap {
  background: $white;
}

.status {
  cursor: pointer;

  .title {
    color: $white;
  }

  .branch {
    color: #27ae60;
  }
}

.details {
  color: grey;
  background: #1f1d1d;
}
@media screen and (min-width: 1280px) {
  .container {
    background: rgba(0, 0, 0, 0.05);
  }
}