.wy-embed-wrap {
    width: 100%;
    padding: 1em 1.5em;
    font-size: 14px;
    line-height: 20px;

    .wy-embed {
        text-align: center;
        padding: 1em;
        color: #c2c2c2;
        background: #4e4b4b;
        border: 1px solid #a0a0a0;
        border-radius: 5px;

        a {
            color: #e6e6e6;
        }

        img {
            max-width: 100%;
        }
    }
}
