// header
.fa-home:before {
  content: "\f015";
}
.fa-bars:before {
  content: "\f0c9";
}

// toctree
.fa-plus-square-o:before {
  content: "\f196";
}

.fa-minus-square-o:before {
  content: "\f147";
}

// addons
.fa-book:before {
  content: "\f02d";
}

.fa-caret-down:before {
  content: "\f0d7";
}
.fa-github:before {
  content: "\f09b";
}

.fa-question-circle-o:before {
  content: "\f29c";
}

.fa-download:before {
  content: "\f019";
}

// breadcrumb
.fa-edit:before {
  content: "\f044";
}

// footer
.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-copyright:before {
  content: "\f1f9";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}
