.menu-sm {
  position: fixed;
  bottom: 0;
  left: -85%;
  width: 85%;
  max-height: 100%;

  &.shift {
    left: 0;
  }
}

.sidebar-wrap {
  top: 0;

  @extend .menu-sm;
}

.addons-wrap {
  @extend .menu-sm;
}

.content-wrap {
  &.shift {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 85%;
    min-width: 100%;
  }
}

@media screen and (min-width: $width-md) {
  .menu-md {
    left: 0;
    width: $theme-menu-width;
  }

  .sidebar-wrap {
    @extend .menu-md;

    .sidebar {
      width: $theme-menu-width + 20px;

      .header,
      .toctree {
        width: $theme-menu-width;
      }
    }
  }

  .addons-wrap {
    @extend .menu-md;
  }

  .content-wrap {
    margin-left: $theme-menu-width;

    &.shift {
      position: relative;
      left: 0;
      min-width: 0;
    }
  }
}

@media screen and (min-width: $width-xl) {
  .content-wrap {
    max-width: $width-xl - $theme-menu-width;
  }
}
