.menu-sm {
  position: fixed;
  bottom: 0;
  left: -85%;
  width: 85%;
  max-height: 100%;

  &.shift {
    left: 0;
  }
}

.sidebar-wrap {
  top: 0;

  @extend .menu-sm;
}

.addons {
  @extend .menu-sm;
}

.content-wrap {
  &.shift {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 85%;
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .menu-md {
    left: 0;
    width: 300px;
  }

  .sidebar-wrap {
    @extend .menu-md;

    .sidebar {
      width: 300px + 20px;

      .header,
      .toctree {
        width: 300px;
      }
    }
  }

  .addons {
    @extend .menu-md;
  }

  .content-wrap {
    margin-left: 300px;

    &.shift {
      position: relative;
      left: 0;
      min-width: 0;
    }
  }
}

@media screen and (min-width: 1280px) {
  .content-wrap {
    max-width: 1280px - 300px;
  }
}
