body {
  color: #404040;
  font-weight: 400;
}

.container {
  background: $white;
}

.sidebar {
  background: $gray;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .toctree {
    color: #9b9b9b;

    a {
      color: #d9d9d9;
      padding: 0.5em;

      &:hover {
        background: hsla(0, 0%, 100%, 0.1);
      }
    }

    .caption {
      color: lighten($blue, 15%);
      font-weight: 600;
      line-height: 32px;
    }
  }
}

.header {
  color: $white;
  background: $blue;
  padding: 0.809em;

  .title {
    padding: 4px 6px;
    margin-bottom: 0.809em;
    font-weight: 700;
  }

  a {
    padding: 4px 6px;

    &:hover {
      background: hsla(0, 0%, 100%, 0.1);
    }
  }

  input {
    border-radius: 50px;
    border: 1px solid #2472a4;
    font-size: 80%;
  }
}

.addons-wrap {
  background-color: darken($gray, 8%);

  .status {
    cursor: pointer;
    background-color: darken($gray, 5%);

    .title {
      color: $white;
    }

    .branch {
      .fa {
        color: $white;
      }

      .name {
        color: #27ae60;
      }
    }
  }

  .addons {
    color: grey;

    dl {
      margin: 0;
    }

    dd {
      display: inline-block;

      a {
        display: inline-block;
        padding: 6px;
        color: $white;
      }
    }
  }
}

.header-sm {
  color: $white;
  background: $blue;
}

.content-wrap {
  background: $white;
}

.markdown-body {
  font-style: normal;
  font-weight: 400;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto-Slab", sans-serif;
    font-style: normal;
  }

  table {
    font-size: 90%;
  }
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 "FontAwesome";
}

.toc {
  @for $level from 1 through 11 {
    &.level-#{$level}.current {
      > a {
        padding-left: $gutter * ($level - 1 + 0.5);
        background: var(--toc-#{$level});
      }

      > ul {
        @extend .d-block;

        background: var(--toc-#{$level + 1});
      }

      .level-#{$level + 1} > a {
        padding-left: $gutter * ($level + 0.5);
      }
    }
  }

  &.current {
    a {
      color: #404040;

      &.current {
        font-weight: bold;
        background: $white;
        border-top: 1px solid var(--toc-2);
        border-bottom: 1px solid var(--toc-2);
      }
    }
  }

  > ul {
    @extend .d-none;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    background: rgba(0, 0, 0, 0.05);
  }
}
