@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/Roboto-Slab-Regular.woff2") format("woff2"), url("../fonts/Roboto-Slab-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/Roboto-Slab-Bold.woff2") format("woff2"), url("../fonts/Roboto-Slab-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}