.d-none {
  display: none;
}

.d-block {
  display: block;
}

.toctree {
  a {
    color: #d9d9d9;
    padding: 0.5em;
  }
}

.toc {
  @for $level from 1 through 11 {
    &.level-#{$level}.current {
      > a {
        padding-left: $gutter * ($level - 1 + 0.5);
        background: var(--toc-#{$level});
      }

      > ul {
        @extend .d-block;
        background: var(--toc-#{$level + 1});
      }

      .level-#{$level + 1} > a {
        padding-left: $gutter * ($level + 0.5);
      }
    }
  }

  &.current {
    a {
      color: #404040;

      &.current {
        font-weight: bold;
        background: $white;
        border-top: 1px solid var(--toc-2);
        border-bottom: 1px solid var(--toc-2);
      }
    }
  }

  > ul {
    @extend .d-none;
  }
}