/* fonts */
$body-font: "Lato", sans-serif;
$mono-font: monospace;

/* color */
$white: hsl(0, 0%, 99%);
$green: #27ae60;
$blue: #2980b9;
$gray: rgb(52, 49, 49);
$gutter: 1.5em;

:root {
  @for $level from 1 through 12 {
    @if $level % 4 == 0 {
      --toc-#{$level}: #{darken($white, 4 * 8.8%)};
    } @else {
      --toc-#{$level}: #{darken($white, $level % 4 * 8.8%)};
    }
  }
}
