
$site-direction: rtl;
$is-rtl: true;
$is-ltr: false;

$dir-start: right;
$dir-end: left;


@mixin rtl($property, $ltr-value, $rtl-value) {
    #{$property}: $rtl-value;
}

@mixin rtl_set_property($property-ltr, $property-rtl, $value) {
    #{$property-rtl}: $value;
}


@mixin start($value) {
    right: $value;
}

@mixin margin_start($value) {
    margin-right: $value;
}

@mixin margin_end($value) {
    margin-left: $value;
}

@mixin padding_start($value) {
    padding-right: $value;
}

@mixin padding_end($value) {
    padding-left: $value;
}


@import "./theme.scss";