.markdown-body {
  // 400
  font-weight: $font-weight-normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $head-font;
  }

  table {
    // 14px
    font-size: $body-font-size;
  }

  // ruby highlight fixed
  figure {
    margin: 0;
  }

  // improved
  code,
  tt {
    font-size: $font-size-small;
    border: $border;
    color: $theme-red;
  }

  a {
    code,
    tt {
      color: $text-blue;
    }
  }

  pre {
    > code {
      color: $theme-black;
    }
  }

  .highlight pre,
  pre {
    font-size: $font-size-small;
    border: $border;
  }
}
