---
layout: default
permalink: /search.html
---

{%- include assets/i18n.liquid -%}

<div id="search-results">
    <h2>{{ __.searching | default: "Searching"}}<span class="progress"></span></h2>
    <p class="search-summary"></p>
    <ul class="search"></ul>
</div>
