// Generate a two-color caret for any element.
@mixin double-caret(
  $foreground: $text-white,
  $background: lighten($gray-300, 5%)
) {
  &::after,
  &::before {
    position: absolute;
    @include start(-16px);
    @include end(100%);

    top: 11px;
    display: block;
    width: 0;
    height: 0;
    pointer-events: none;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
  }

  &::after {
    @include margin_start(2px);
    @include rtl_set_property(border-right-color, border-left-color, $foreground);
    margin-top: 1px;
    border-width: 7px;
  }

  &::before {
    @include rtl_set_property(border-right-color, border-left-color, $background);
    border-width: 8px;
  }
}
