// stylelint-disable selector-max-type
.markdown-body .csv-data {
  td,
  th {
    // stylelint-disable-next-line primer/spacing
    padding: 5px;
    overflow: hidden;
    font-size: $font-size-small;
    line-height: $lh-condensed-ultra;
    @include rtl(text-align, left, right);
    white-space: nowrap;
  }

  .blob-num {
    // stylelint-disable-next-line primer/spacing
    padding-top: 10px;
    padding-bottom: 9px;
    @include padding_end($spacer-2);
    @include rtl(text-align, right, left);
    background: $bg-white;
    border: 0;
  }

  tr {
    border-top: 0;
  }

  th {
    font-weight: $font-weight-bold;
    background: $bg-gray;
    border-top: 0;
  }
}
